/**
 * Some personal global resets for the stylesheet
 * */
html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

button {
    appearance: none;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    outline: none;
}