/**
 * Home specific styles
 * */
html {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    background-color: $bg-color;

    .container {
        .cv-lightbox {
            display: inline-flex;
            flex-direction: column;
            @include timer;
            @include modal;
            @include fadeInAnimation($anim-dur: 0.7s, $anim-del: 0.7s);
        }
    }
}