/**
 * Sass variables
 * */
$bg-color: #E5E5E5;
$close-button-color: #A9A9A9;
$box-shadow: rgba(0, 0, 0, 0.3);
$modal-shadow: rgba(0, 0, 0, 0.25);
$disclaimer-text-color: rgb(255, 255, 255);
$discount-button-width: 293px;
$email-text-color: rgb(170, 170, 170);
$email-width: 460px;
$expiry-text-color: #666666;
$modal-width: 552px;
$modal-height: 355px;
$orange-timer-color: #F29D26;
$white-text-color: #FFFFFF;
$discount-gradient: linear-gradient(180deg, #F3A427 0%, #EF8F24 100%);
$discount-gradient-hover: linear-gradient(180deg, #E79C25 0%, #E48822 100%);